<div style="margin-top: 30px">
        <div id="test-editormd-view" style="width: 80%;margin: 0 auto;" class="markdown-body editormd-html-preview">
            <textarea id="mdarea" style="display: none">
## HOW TO USE? （使用前必读）
[TOCM]
## 1. 提现管理管理说明

目前仅展示用户所有提现情况，管理者拥有权限进行修改状态，改为已提现或未提现（不能删除数据，为了以后统计可以使用！）

## 2. POS机申请管理说明

管理者可看到后台有在小程序提交过的POS机申请情况，可以根据申请人姓名，地址，联系电话进行POS机派送。然后管理状态，并根据情况是否返回押金！

## 3. 意见反馈管理说明

查看小程序里的用户所提及过的用户意见和反馈，并可管理状态是否已采纳！

## 4. 用户列表管理说明

这是凡是有使用过我们微信小程序的用户信息情况，包括会员等级，吉祥号，如意币等情况，但不提供管理员修改！

## 5. 权限管理

本系统把用户分成两大类，数据人员和审核人员。其拥有的权限如下：

|  角色 | 拥有权限 | 没有的权限 |
| ------------ | ------------ |
|数据人员|可修改用户数据|
|审核人员|管理相关列表的状态|
|总舵主|系统的超级管理员，有且只有一个。|无|

将数据编辑和数据审核分离，有助于保护线上数据安全。同时权限分散可以减少工作量，数据员专注于数据的修复工作，审核员保证数据的正确性。
            </textarea>
        </div>
</div>

{{template "public/editormd_show.html" .}}

