<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-row" style="margin-top: 20px;">
        <div class="search_text">
            <form class="layui-form" action="" onsubmit="javascript:return false;">
                <div class="layui-inline" style="width: 30%">
                    <input class="layui-input" name="PaperName" id="q" autocomplete="off" placeholder="POS机申请人姓名">
                </div>
                <button class="layui-btn" data-type="reload" id="reload">查询</button>
            </form>
        </div>
    </div>
    <table class="layui-hide" id="table_list" lay-filter="table_filter">
    </table>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="deal">已退押金</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="no-deal">未退押金</a>
        <a class="layui-btn layui-btn-xs" lay-event="post">已邮寄</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="no-post">未邮寄</a>
    </script>
</div>
<script>
    layui.use(['table', 'form', 'element'], function () {
        var table = layui.table;
        var $ = layui.$;

        //方法级渲染
        table.render({
            elem: '#table_list'
            , url: '/temp/addpapertable'
            , cols: [[
                {field: 'wx_id', title: '微信ID', width: '15%'}
                , {field: 'name', title: 'POS机申请人姓名', width: '10%'}
                , {field: 'phone', title: 'POS机申请人电话', width: '10%'}
                , {field: 'address', title: 'POS机申请人住址', width: '15%'}
                , {field: 'pay', title: '押金支付状态', width: '10%'}
                , {field: 'status', title: '当前状态', width: '10%'}
                , {field: 'time', title: '申请时间', sort: true, width: '10%'}
                , {fixed: 'right', width: '20%', align: 'center', toolbar: '#bar'}
            ]]
            , id: 'listReload'
            , page: true
            , limit: 20
            , height: "full-130"
            , loading: true
        });

        $('#add_paper').on('click', function () {
            window.location.href = "/temp/addpaper"
        });

        table.on('sort(table_filter)', function (obj) {
            sortX = 0;
            if (obj.type === 'asc') {
                sortX = 1;
            }

            if ($('#q').val()) {
                table.reload('listReload', {
                    initSort: obj
                    , where: {
                        sort: sortX,
                        q: $('#q').val()
                    }
                });
            } else {
                table.reload('listReload', {
                    initSort: obj
                    , where: {
                        sort: sortX
                    }
                });
            }
        });

        //监听工具条
        table.on('tool(table_filter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'deal') {
                table.reload('listReload', {
                where: {
                    id: data.id
                    , status: 1
                }
            });

            } else if (obj.event === 'no-deal') {
                table.reload('listReload', {
                where: {
                    id: data.id
                    , status: 0
                }
            })
            }else if (obj.event === 'post') {
                table.reload('listReload', {
                where: {
                    id: data.id
                    , post: 1
                }
            });
            }
            else if (obj.event === 'no-post') {
                table.reload('listReload', {
                where: {
                    id: data.id
                    , status: 0
                }
            });
            } 
            else {
                layer.msg('操作不存在');
            }
        });

        layui.use(['form', 'layedit', 'laydate','element','jquery'], function() {
            var form = layui.form,
            layer = layui.layer,
            element=layui.element,
            $=layui.jquery;
            $(document).on('click','#reload',function(){
                table.reload('listReload', {
                where: {
                    q: $("#q").val()
                    , sort: 0
                }
                });
            });
        });
    });

</script>

